.cuadrado1 {
    background: coral;
    border-style: solid;
    color: blueviolet;
    width: 200px;
    height: 100px;
    font-family: sans-serif;
    font-size: 30px;
}

.cuadrado2 {
    background: coral;
    border-style: solid;
    color: blueviolet;
    width: 300px;
    height: 100px;
    font-family: sans-serif;
    font-size: 30px;
}