.titulos {
    background-color: rgb(219, 121, 121);
    width: 350px;
    height: 50px;
    position: relative;
    font-family: sans-serif;
    color: rgb(72, 63, 63);
}

.texto {
    font-family: 'Arial Narrow';
    position: relative;
    left: 0px;
}

.listas {
    color: rgb(58, 42, 179);

}

.cuadrado {
    width: 300px;
    height: 60px;
    background-color: aquamarine;
    position: relative;
}

.bandeja {
    background-color: beige;
    width: 500px;
    height: 1000px;
}

#pesimismo {
    position: absolute;
    bottom: 0;
}